<div class="my-footer">
    <div class="container text-center ">
        
        <div style="font-size: large;">
            <a routerLink="/contact"><i  class="fa-brands fa-facebook"></i></a>
            <a routerLink="/contact"><i  class="fa-solid fa-envelope"></i></a>
            <a routerLink="/contact"><i  class="fa-sharp fa-solid fa-phone"></i></a>
        </div>
        <hr>
        <div >
            <div class="inline-div"><a href="#">Romana</a></div>
            <p class="inline-div"> | </p>
            <div class="inline-div"><a href="#">Magyar</a></div>
            <p class="inline-div"> | </p>
            <div class="inline-div"><a href="#">English</a></div>
        </div>
        <hr>
        <div >
            <p id="copyright-text">Copyright &copy; 2022 Mathis Matyas-Istvan</p>
          
        <hr>
        
    </div>
</div>

