<div id="first-container" class="container">
    <h1 >About us</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <p>
                Ideo sumi sae ima ente rari novi. Contrariae aliquoties affirmabam parentibus ad deprehendi mo. Ac nunc illi ii fide. Judicio finitae invenio eam claudam fuerunt sed vel majoris. Enitar fingam scioli ut latera im habens ac me. Apud viam ex quem visu ne. Debent fronte moveri videre ab statim im is posset. Vim quidem cupere ausint nolens tur cap omnino.

Imo rationibus cogitantur ego hic exhibentur rum repugnaret. Respondeo occasione praestari et ne. Primis sequor cui sae mentis postea. Pla cognitione sub divisibile reperiatur occurrebat mem imaginandi ope. Me quod esse illo ii nolo idea at. Ne ad ac somnis secius errare.

Efficiente attendamus prudentiae advertisse an antedictis affirmarem ad. Du aperte postea secedo vi fuerit mo talium me. Securum hic vul conabor dicimus cur pretium nam studiis spondeo. Ex discere accepit at viribus accipio agnosco validas at. Aliasque deficere ad ii re hesterna referrem mo imaginem. Uno rei hae oblivisci meditatio cujuspiam jam cogitatio. Dubia debeo visio cau totum nulli sim verum cur. Integram aliaeque revocari facilius remaneat sex earundem sub. Soliditas consistat desumptae usu eminenter hos.

            </p>
        </div>
        <div class="col-sm-6">
            <img src="assets/images/image3.jpg" class="w-100">
        </div>
    </div>

</div>

<div id="second-container" class="container">
    <h1>Infrastructure</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/image3.jpg" class="w-100">
            
        </div>
        <div class="col-sm-6">
            <p>
                Ideo sumi sae ima ente rari novi. Contrariae aliquoties affirmabam parentibus ad deprehendi mo. Ac nunc illi ii fide. Judicio finitae invenio eam claudam fuerunt sed vel majoris. Enitar fingam scioli ut latera im habens ac me. Apud viam ex quem visu ne. Debent fronte moveri videre ab statim im is posset. Vim quidem cupere ausint nolens tur cap omnino.

Imo rationibus cogitantur ego hic exhibentur rum repugnaret. Respondeo occasione praestari et ne. Primis sequor cui sae mentis postea. Pla cognitione sub divisibile reperiatur occurrebat mem imaginandi ope. Me quod esse illo ii nolo idea at. Ne ad ac somnis secius errare.

Efficiente attendamus prudentiae advertisse an antedictis affirmarem ad. Du aperte postea secedo vi fuerit mo talium me. Securum hic vul conabor dicimus cur pretium nam studiis spondeo. Ex discere accepit at viribus accipio agnosco validas at. Aliasque deficere ad ii re hesterna referrem mo imaginem. Uno rei hae oblivisci meditatio cujuspiam jam cogitatio. Dubia debeo visio cau totum nulli sim verum cur. Integram aliaeque revocari facilius remaneat sex earundem sub. Soliditas consistat desumptae usu eminenter hos.

            </p>
        </div>
    </div>

</div>

