


<div id="first-container" class="container">
    <h1 >Despre noi</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <p>
                Firma de constructii din localitatea Sfantu Gheorghe este o companie care se ocupa cu proiectarea si constructia de cladiri rezidentiale si comerciale. Echipa noastra este formata din arhitecti, ingineri si muncitori calificati, care lucreaza impreuna pentru a oferi cele mai bune servicii de constructii din localitate.

Dispunem de echipamente moderne si de ultima generatie, care ne permit sa realizam lucrari de calitate intr-un timp cat mai scurt. De asemenea, lucram doar cu materiale de cea mai buna calitate, pentru a asigura durabilitatea cladirilor noastre.

Oferta noastra de servicii include proiectarea si constructia de case noi, extinderi si renovari de case existente, precum si constructia de cladiri comerciale si industriale. De asemenea, oferim servicii de finisaje interioare si exterioare, pentru a transforma orice cladire intr-un spatiu confortabil si atractiv.

Daca sunteti in cautarea unor servicii de constructii de calitate in localitatea Sfantu Gheorghe, nu ezitati sa ne contactati. Ne place sa lucram cu clientii nostri pentru a gasi solutiile cele mai potrivite pentru nevoile lor de constructie.

            </p>
            <div style="padding: 0 5%;">
                <button routerLink="/contact" class="btn btn-lg my-button">Contacteaza-ne</button>
            </div>
            
        </div>
        <div class="col-lg-6">
            <img src="assets/images/176159542-2251001225031674-1648528740895964194-n-1644842684.jpg" class="w-100">
        </div>
    </div>

</div>

<div id="second-container" class="container">
    <h1>Infrastructura</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <img src="assets/images/244527445-2372401879560594-7577475820530644834-n-1633343604.jpg" class="w-100">
            
        </div>
        <div class="col-lg-6">
            <p>
                Infrasructura este termenul folosit pentru a descrie sistemele de transport, de utilitati si de comunicatii dintr-o anumita regiune. Aceste sisteme sunt esentiale pentru functionarea eficienta a oricarei societati moderne, deoarece asigura legatura intre diferitele zone ale tarii si sprijina activitatile economice si sociale.

Exemple de infrastructura incluse drumuri, autostrazi, cai ferate, aeroporturi, porturi, canalizare, apa potabila, gaze naturale, electricitate, telecomunicatii, precum si alte servicii publice.

Constructia si intretinerea infrastructurii necesita investitii importante din partea guvernelor si a altor investitori. Este important ca aceste investitii sa fie realizate in mod eficient, astfel incat sa se poata obtine cele mai bune rezultate pentru comunitate.

Infrasructura poate avea un impact semnificativ asupra calitatii vietii oamenilor, deoarece poate ajuta la reducerea timpului de calatorie, la asigurarea accesului la serviciile de baza, precum si la sprijinirea dezvoltarii economice. De aceea, este important ca infrastructura sa fie bine planificata si intretinuta.
            </p>
            <div style="padding: 0 5%; text-align: left;">
                <button routerLink="/contact" class="btn btn-lg my-button">Contacteaza-ne</button>
            </div>
        </div>
    </div>

</div>

<div id="staff">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="staff-box">
                    <div class="staff-image-box" >
                        <img  src="assets/images/construction-worker-is-ready-start-day-work.jpg">
                    </div>
                    
                    <h1>[Nume]</h1>
                    <p>pozitie/rol</p>
                    <a routerLink="/contact" ><i class="fa-solid fa-envelope"></i></a>
                    <a routerLink="/contact"> <i class="fa-sharp fa-solid fa-phone"></i></a>
                    
                </div>
            </div>

            <div class="col-lg-4 " >
                <div class="staff-box">
                    <div class="staff-image-box" >
                        <img  src="assets/images/portrait-young-male-interior-designer-engineer-smiling-while-sitting-his-office-table.jpg">
                    </div>
                    
                    <h1>[Nume]</h1>
                    <p>pozitie/rol</p>
                    <a routerLink="/contact" ><i class="fa-solid fa-envelope"></i></a>
                    <a routerLink="/contact"> <i class="fa-sharp fa-solid fa-phone"></i></a>
                    
                </div>
            </div>

            <div class="col-lg-4">
                <div class="staff-box">
                    <div class="staff-image-box" >
                        <img  src="assets/images/cheerful-young-woman-examining-blueprints-home.jpg">
                    </div>
                    
                    <h1>[Nume]</h1>
                    <p>pozitie/rol</p>
                    <a routerLink="/contact" ><i class="fa-solid fa-envelope"></i></a>
                    <a routerLink="/contact"> <i class="fa-sharp fa-solid fa-phone"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

