



.my-nav-text{
    color: black;
    font-weight:200;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    
}

.nav-link:hover{
    color: #2a253a;
}
.activ{
    color: #2a253a;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #F02133,#9A1D25) 1;
   border-radius: 5px;
}
