
  <div class="fixed-top">
    <!-- Contact info -->
    <!-- <app-contact-bar></app-contact-bar>  -->

    <!-- Navigation -->

    <nav class=" navbar navbar-expand-lg navbar-dark   " style="background-color: rgb(0,0,0,0.8);" >
      <div class="container">
        <a class="navbar-brand my-nav-text" routerLink="">
          
          SUE
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="nav ms-auto" >
            <li class="nav-item nav-link ">
              <a routerLink="" class="my-nav-text nav-link fs-5"   >Home</a>
            </li>
            <li class="nav-item nav-link">
              <a routerLink="/about-us"
              class=" my-nav-text nav-link fs-5 " >About</a>
            </li>
            <li class="nav-item nav-link">
              <a routerLink="/contact" class=" my-nav-text nav-link fs-5">Contact</a>
            </li>
            <li class="nav-item nav-link">
              <a class=" my-nav-text nav-link fs-5 disabled"  tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </div>

