
  <div class="">
    <!-- Contact info -->
    <!-- <app-contact-bar></app-contact-bar>  -->

    <!-- Navigation -->

    <nav class=" navbar navbar-expand-sm navbar-light "  >
      <div class="container">
        <a class="navbar-brand my-nav-text" routerLink="">
          
         logo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto" >
            <li class="nav-item nav-link ">
              <a routerLink="/"  routerLinkActive="activ" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse" data-target="#navbarNav" class="my-nav-text nav-link fs-5" >Home</a>
            </li>
            <li class="nav-item nav-link">
              <a routerLink="/about-us" data-toggle="collapse" data-target="#navbarNav" routerLinkActive="activ" class=" my-nav-text nav-link fs-5 " >About</a>
            </li>
            <li class="nav-item nav-link">
              <a routerLink="/contact" data-toggle="collapse" data-target="#navbarNav" routerLinkActive="activ" class=" my-nav-text nav-link fs-5">Contact</a>
            </li>
            <li class="nav-item nav-link">
              <a  routerLink="/terms" data-toggle="collapse" data-target="#navbarNav" routerLinkActive="activ" class=" my-nav-text nav-link fs-5 " >Terms
              </a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </div>

