



.my-nav-text{
    color: #2a253a;
    font-weight:200;
    font-family:'Poppins',sans-serif;
    letter-spacing: 1px;
    
}

.nav-link:hover{
    color: #2a253a;
}
.activ{
    color: #2a253a;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #eac745,#eac745 ) 1;
   border-radius: 5px;
}
