.contact{
    
    text-align: center;
    line-height: 40px;
   
    padding: 5%;
}

  #contact{
  
   
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/hand-construction-plans-with-yellow-helmet-drawing-tool.jpg');
    background-size: cover;
    background-position: center;
    animation: slidedown 3s;
  
 
  color: white;
 }
 
 #contact i{
  color: white;
 }
 
 .content-contact{
  background-color:#9A1D25;
  padding:10%;
  border-radius: 20%;
 }
 .agm-map{
    width: 400px;
 }