<div id="contact">
    <div class="container contact">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-contact">
    
                    <!--Section heading-->
                    <h1 class="h1-responsive font-weight-bold text-center my-4">Contact</h1>
                    <!--Section description-->
                    
                
                   
                
                        
                
                        <!--Grid column-->
                        <div class="text-center">
                            <ul class="list-unstyled mb-0">
                                <li id="first"><i  class="fas fa-map-marker-alt fa-2x"></i>
                                    <p>Sfantu Gheorghe, Grigore Balan </p>
                                </li>
                
                                <li id="second"><i  class="fas fa-phone mt-4 fa-2x"></i>
                                    <p>+ 01 234 567 89</p>
                                </li>
                
                                <li id="third"><i class="fa-solid fa-envelope"></i>
                                    <p>contact@email.com</p>
                                </li>

                                <li id="third"><i class="fa-regular fa-calendar-days"></i>
                                    <p>Luni–Joi: 8–16:30<br>
                                        Vineri: 8–14</p>
                                </li>

                               
                            </ul>
                        </div>
                        
                
                    </div>
                    
            </div>
            <div class="col-lg-6">
               
            </div>
        </div>
    </div>

</div>