.pdf-box{
    
    text-align: center;
}
a{
    line-height: 25px;
    font-size: large;
    color: black;
}
h1{
    margin-top: 175px;
    animation: slidein1 2s;
}
@keyframes slidein1{
    from{
      transform: translateX(-30%);
    }
    to{
      transform: translateX(0);
    }
  }