<div class="container">
    <h1>Terms</h1>
    <hr>
    <div class="container pdf-box">
    
        <h3>2022</h3>
        <a href="assets/pdfs/random.pdf">Announcement 2022.10.1</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2022.10.5</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2022.10.7</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2022.10.9</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2022.10.21</a><br>
        <br>
        <h3>2021</h3>
        <a href="assets/pdfs/random.pdf">Announcement 2021.10.1</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2021.10.5</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2021.10.7</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2021.10.9</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2021.10.21</a><br>
        <br>
        <h3>2020</h3>
        <a href="assets/pdfs/random.pdf">Announcement 2020.10.1</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2020.10.5</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2020.10.7</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2020.10.9</a><br>
        <a href="assets/pdfs/random.pdf">Announcement 2020.10.21</a><br>
        <br>
    </div>
</div>

