<div id="intro-section">
    <div class="row">
        
        <div  id="intro-box">
          <div class="row top-card">
            <div class="col-sm-7">
              <div  id="name-and-moto" >
                <h4 data-aos="slide-down" data-aos-duration="1000">HOMENG</h4>
                <h1 data-aos="fade-in" data-aos-duration="3000">Servicii</h1>
                
                
            </div>
            
           
          </div>
          
          
            
        </div>
    </div>
        
        
   
</div>
<div class="container case">
    <div class="row" id="case">
        <div class="col-lg-7 ">
            <div class="titles" data-aos="slide-right" data-aos-duration="1500">
                <h1>Constructii case la rosu</h1>
                <hr>
                <p >Acest tip de proiect presupune constructia fundatiei, realizarea aspectelor de zidarie si structura acoperisului. Aceasta nu include finisaje interioare si nici exterioare, dar nici instalatiile necesare.</p>
            </div>
            
            <div class="titles" data-aos="slide-right" data-aos-duration="1500">
                <h1>Constructii case la cheie</h1>
                <hr>
                <p >Aceasta poate reprezenta in scurt timp locuinta dumneavoastra de vis. Realizam in cadrul acestui tip de proiect constructia casei la rosu, impreuna cu acoperisul. De asemenea, veti beneficia si de realizarea finisajelor exterioare si interioare, pardoseala, cat si instalatiile sanitare, termice si electrice.</p>
            </div>
            
            
           <div class="titles" data-aos="slide-right" data-aos-duration="1500">
            <h1>Renovari apartamente, renovari case</h1>
            <hr>
            <p >Cand vine vorba de revonari puteti apela cu incredere la firma noastra specializata in renovari apartamente, renovari case, renovari constructii, reparatii constructii, renovari interioare si renovari exterioare. Proiectele de renovari presupun un aspect reinventat si complet nou pentru locuinta dumneavoastra. Noi va putem reimprospata orice tip de constructie, realizand renovari de case si alte constructii si reparatii. Renovarile cuprin atat lucrarile desfasurate pentru interior, cat si exterior.</p>
           </div>
            
            <a href="/home#contact" class="btn btn-lg my-button">Contacteaza-ne</a>
            
        </div>
        <div class="col-lg-5" data-aos="slide-up" data-aos-duration="2000">

        </div>
    </div>
  
   
</div>
<div id="acoperis">
    <div class="container case">
        <div class="row" >
            <div class="col-lg-7 ">
                <div class="titles" data-aos="slide-right" data-aos-duration="1500">
                    <h1>Reparatii acoperisuri</h1>
                    <hr>
                    <p >Realizam lucrari de reparatii acoperisuri tigla metalica si ceramica de orice tip, executam si reparatii acoperisuri de urgenta.
                        Pentru detalii si pret, va invitam sa ne contactati.</p>
                </div>
                
                <div class="titles" data-aos="slide-right" data-aos-duration="1500">
                    <h1>Montaj tigla</h1>
                    <hr>
                    <p >Montam tigla ceramica de orice tip. Lucram cu materiale de calitate, colaboram cu cei mai importanti furnizori de tigla ceramica.</p>
                </div>
                
                
               <div class="titles" data-aos="slide-right" data-aos-duration="1500">
                <h1>Dulgherie acoperis</h1>
                <hr>
                <p >Executam dulgherie completa la sistemul de acoperis. Lucram cu materiale de calitate, colaboram cu cei mai importanti furnizori de materiale de constructii necesare la dulgheria de acoperis.</p>
               </div>
                
                <a href="/home#contact" class="btn btn-lg my-button-white">Contacteaza-ne</a>
                
            </div>
            <div class="col-lg-5" data-aos="slide-up" data-aos-duration="2000">
    
            </div>
        </div>
        
       
    </div>
    

</div>
<div class="container ">
    <div class="row" id="fatade">
        <div class="col-lg-7 ">
            <div class="titles" data-aos="slide-right" data-aos-duration="1500">
                <h1>Amenajare fatade</h1>
                <hr>
                <p >Acest tip de proiect presupune constructia fundatiei, realizarea aspectelor de zidarie si structura acoperisului. Aceasta nu include finisaje interioare si nici exterioare, dar nici instalatiile necesare.</p>
            </div>
            
            
            
            <a href="/home#contact" class="btn btn-lg my-button">Contacteaza-ne</a>
            
        </div>
        <div class="col-lg-5" data-aos="slide-up" data-aos-duration="2000">

        </div>
    </div>
  
   
</div>
