<div id="services">
    <div class="container">
        <h1>Servicii</h1>
        <hr>
        <div class="row">
            
           
            <div class="col-lg-6" style="padding: 0%;">
                <img src="assets/images/charming-yellow-house-with-wooden-windows-green-grassy-garden.jpg" class="w-100" alt="">
            </div>
            <div class="col-lg-6">
                <h3>Case</h3><br>
                <p>Constructia unei case incepe cu alegerea terenului si a planului de casa. Dupa ce aceste lucruri au fost stabilite, se poate trece la etapa de proiectare a casei. Aceasta implica realizarea unor planuri detaliate si obtinerea tuturor autorizatiilor necesare.

                    Urmatorul pas este pregatirea terenului pentru constructie. Aceasta poate include nivelarea terenului, instalarea sistemelor de canalizare si de apa, precum si a altor utilitati.
                    
                    Dupa ce terenul este pregatit, se poate incepe cu constructia propriu-zisa a casei. Aceasta poate incepe cu turnarea fundatiei, care este partea solida a casei care o tine pe loc. Urmeaza apoi etapa de construire a schelelor si a structurii principale a casei. Dupa aceasta, se pot adauga elementele finale, precum peretii, tavanele si instalatiile.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3>Drumuri</h3><br>
                <p>In general, procesul de constructie a unei drumuri poate fi impartit in mai multe etape:

                    Proiectarea: In aceasta etapa, se realizeaza planuri detaliate pentru drum, care vor lua in considerare factori precum locatia, scopul, lungimea si latimea drumului. De asemenea, se obtin toate autorizatiile necesare pentru constructie.
                    
                    Pregatirea terenului: Inainte de a incepe constructia propriu-zisa, trebuie sa se pregateasca terenul pe care va fi construit drumul. Acest lucru poate include nivelarea terenului si instalarea sistemelor de canalizare si de apa.
                    
                    Turnarea fundatiei: Fundatia unui drum este partea solida care il tine pe loc. Aceasta poate fi turnata din beton sau poate fi construita din pietris sau alt material.
                    
                    Constructia stratului de baza: Dupa ce fundatia este gata, se poate incepe constructia stratului de baza al drumului. Acest lucru poate implica adaugarea unui strat de pietris sau alt material de constructie.
                    
                    Adaugarea stratului de mers: Dupa ce stratul de baza este gata, se poate adauga stratul de mers al drumului, care poate fi realizat din asfalt sau beton.
                    
                    Finisarea: In ultima etapa, se poate trece la finisarea drumului, care poate include lucrari de marcare a benzii de circulatie si de instalare a semnelor de circulatie.</p>
            </div>
           
            <div class="col-lg-6" style="padding: 0%;">
                <img src="assets/images/Vopsire-drumuri.jpg" class="w-100" alt="">
            </div>
           
        </div>

        <div class="row">
            
           
            <div class="col-lg-6" style="padding: 0%;">
                <img src="assets/images/shot-long-overpass-road-near-mountains-sky.jpg" class="w-100" alt="">
            </div>
            <div class="col-lg-6">
                <h3>Poduri</h3><br>
                <p>Constructia unui pod este un proces complex care necesita planificare si atentie la detalii. In general, procesul de constructie a unui pod poate fi impartit in mai multe etape:

                    Proiectarea: In aceasta etapa, se realizeaza planuri detaliate pentru pod, care vor lua in considerare factori precum locatia, scopul, dimensiunea si tipul de pod. De asemenea, se obtin toate autorizatiile necesare pentru constructie.
                    
                    Pregatirea terenului: Inainte de a incepe constructia propriu-zisa, trebuie sa se pregateasca terenul de pe ambele maluri ale raului sau a altui obstacol. Acest lucru poate include nivelarea terenului si instalarea sistemelor de sustinere.
                    
                    Turnarea fundatiei: Fundatia unui pod este partea solida care il tine pe loc. Aceasta poate fi turnata din beton sau poate fi construita din piloni de metal sau beton.
                    
                    Constructia structurii: Dupa ce fundatia este gata, se poate incepe constructia structurii principale a podului. Acest lucru poate implica montarea schelelor si a elementelor de sustinere, precum grinzi si arce.
                    
                    Adaugarea suprafetelor de mers: Dupa ce structura principala a podului este gata, se pot adauga suprafetele de mers, cum ar fi plintele sau dalele de beton.</p>
            </div>
        </div>

        
    </div>
    <div class="container text-center" style="padding: 4%;">
        <button class="btn btn-lg my-button" routerLink="/contact">Contacteaza-ne</button>
    </div>
</div>
