  
  
  

  
  #intro-section{
    
  }
  #intro-box{
    /* padding: 8%; */
    text-align: center;
    background-image: url('/assets/images/flat-lay-stationery-material-blueprint.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
   

  }
  #intro-text{
    color: #111111;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
   
    
    
  }
 
 
  .top-card{
    background-color: rgb(255, 255, 255,0.7);
  }
  #name-and-moto{
    text-align: left;
    
    padding: 10% 0 25% 20%;
    
    
    height: 100%;
    width: auto;
  }

  #name-and-moto h1{
    font-size: 4.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  #name-and-moto h4{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #9A1D25;
  }
  #name-and-moto p{
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
  }
 .my-button{
  background-color: #9A1D25;
  color: white;
  border: 8px solid #9A1D25;
  border-radius: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
 }
 .my-button:hover{
  background-color:white;
  color: #9A1D25;
  
  border: 8px solid #9A1D25;

 }
 
.intro-image{
  /* position: relative;
  top: 50px;
  box-shadow: 10px 10px 5px #888888; */
}

 #services-section{
  background-color:#9A1D25;
  text-align: center;
  padding: 0 50px;
  

 }
 #services-section div{
  position: relative;
  bottom: 30px;
  
 }
 #services-section h1{
  color: white;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  
 }
 #services-section p{
  color: #AAAAAA;
  font-size: large;
  font-style: italic;
  padding: 1% 5%;
 }
 .my-card{
  border: 1pt solid white;
  border-radius: 10%;
  background-color:#9A1D25 ;
  text-align: center;
  color: white;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
 }
 .card-space{
  padding: 2%;
 }

 .my-card i{
  font-size: 150px;
  
 }
 .my-card p{
  padding :3% 8%;
 }
 .gallery{
  padding: 5% 0;
  text-align: center;
 }
 .gallery h1{
  font-size: 40px;
  padding:3%;
 }
 .image-box{
  padding: 2%;
  
 }
 .image-box:hover{
  animation: grow1 0.5s ease-in-out;
 }
 @keyframes grow1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}


 #contact{
  
   
  
 
  color: black;
 }
 #contact i{
  
 }
 .contact{
  padding: 5%;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255,0.7);
 }
 .content-contact{
  background-color:#9A1D25 ;
  padding:10%;
  border-radius: 20%;
 }
 
 
 .contact-item{
  background-color:#9A1D25 ;
  border-radius: 10%;
  text-align: left;
  padding: 8%;
  margin: 3%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  /* height: 150px; */
 }


 /*why us PART*/

#why-us{
  padding: 5%;
}
#why-us h4{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #9A1D25;
  padding: 1%;
}
#why-us h1{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 1%;
}
#why-us .row .row {
  
  padding: 3%;
}
#why-us .col-lg-5{
  text-align: center;
  background-image: url('/assets/images/homeng5.jfif');
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 10px rgba(60, 11, 15, 0.5);
}


#contact{
  padding: 5%;
}
#contact h4{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #9A1D25;
  padding: 1%;
  text-align: left;
}
#contact h1{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 1%;
  text-align: left;
}
#contact .row .row {
  
  padding: 3%;
  
  
}

#contact .col-lg-5{
  text-align: center;
  background-image: url('/assets/images/homeng_contact.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 10px rgba(60, 11, 15, 0.5);
}
#contact .col-md-7{
  text-align: left;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 400;
  
}




 