<div id="intro-section">
    <div class="row">
        <!-- <div class="col-lg-5" >
            <div id="intro-box">
                <h1 id="intro-text">HOMENG</h1>
                <p>[Scurta descriere sau motoul firmei]</p>
                <button routerLink="/about-us" class="btn btn-lg my-button">Afla mai multe</button>
            </div>
                
        </div>
        <div class="col-lg-7" data-aos="flip-up"  data-aos-duration="1000">
            <img class="w-100 intro-image" src="assets/images/flat-lay-stationery-material-blueprint.jpg">
        </div> -->
        <div  id="intro-box">
          <div class="row top-card">
            <div class="col-sm-7">
              <div  id="name-and-moto" >
                <h4 data-aos="slide-down" data-aos-duration="1000">HOMENG</h4>
                <h1 data-aos="fade-in" data-aos-duration="3000">Firma constructii case</h1>
                <p data-aos="slide-right" data-aos-duration="1000">Doriti sa va construiti sau sa reabilitati o cladire? Indiferent de tipul de imobil, Homeng ofera servicii de constructii, amenjari, renovari sau reabilitari pentru case, apartamente, birouri si alte cladiri.</p>
                <button class="btn btn-lg my-button" data-aos="slide-up" data-aos-duration="1000">Vezi detalii</button>
            </div>
            
           
          </div>
          
          
            
        </div>
    </div>
        
        
   
</div>
<div id="services-section">
    <div class="container">
        <!-- <h1 data-aos="flip-up">Ce facem noi?</h1> -->
        
        <div class="row" data-aos="fade-up">
           <div class="col-md-4  card-space"  data-aos="slide-right" data-aos-duration="1000">
            <app-hover-card ></app-hover-card>
           </div>
           <div class="col-md-4 card-space" data-aos="slide-up"  data-aos-duration="1000">
            <app-hover-card ></app-hover-card>
           </div>
           <div class="col-md-4 card-space" data-aos="slide-left"  data-aos-duration="1000">
            <app-hover-card ></app-hover-card>
           </div>
           

        </div>
        <button data-aos="fade-in" data-aos-duration="3000" class="btn btn-lg my-button">Vezi toate serviciile noastre</button>
    </div>
</div>

<div id="why-us">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h4 data-aos="slide-down" data-aos-duration="1000">HOMENG</h4>
        <h1 data-aos="slide-down" data-aos-duration="1000">De ce noi?</h1>
        <h3 data-aos="slide-down" data-aos-duration="1000">Afla motivele pentru care sa ne alegi.</h3>
        <div data-aos="slide-right" data-aos-duration="2000" class="row">
          <div class="col-2"><h1 style="color:#9A1D25;" ><i class="fa-solid fa-house"></i></h1></div>
          <div class="col-10">Cu peste 15 ani experienta pe piata constructiilor din Romania cat si pe piata externa am reusit sa ducem la bun sfarsit peste 80 de proiecte civile si industrial pentru clientii nostri</div>
        </div>
        <div data-aos="slide-right" data-aos-duration="2000" class="row">
          <div class="col-2"><h1 style="color:#9A1D25;" ><i class="fa-solid fa-house"></i></h1></div>
          <div class="col-10">Cu peste 15 ani experienta pe piata constructiilor din Romania cat si pe piata externa am reusit sa ducem la bun sfarsit peste 80 de proiecte civile si industrial pentru clientii nostri</div>
        </div>
        <div data-aos="slide-right" data-aos-duration="2000" class="row">
          <div class="col-2"><h1 style="color:#9A1D25;" ><i class="fa-solid fa-house"></i></h1></div>
          <div class="col-10">Cu peste 15 ani experienta pe piata constructiilor din Romania cat si pe piata externa am reusit sa ducem la bun sfarsit peste 80 de proiecte civile si industrial pentru clientii nostri</div>
        </div>
        <p></p>

      </div>
      <div data-aos="slide-down" data-aos-duration="1000" class="col-lg-5">
        
      </div>
    </div>
  </div>
</div>

<div class="container gallery">
  <div>
    <h1 data-aos="flip-up">Amprenta noastra</h1>
    <hr>
  </div>
   
   
    <div class="row">
        <div data-aos="fade-up" class="col-lg-4 col-md-6 image-box">
          <img src="assets/images/plain-concrete-structure-city.jpg" alt="Image 1" class="img-fluid">
        </div>
        <div data-aos="fade-up" class="col-lg-4 col-md-6 image-box">
          <img src="assets/images/apartment-building-city-with-copy-space.jpg" alt="Image 2" class="img-fluid" >
        </div>
        <div data-aos="fade-up" class="col-lg-4 col-md-6 image-box">
          <img src="assets/images/concrete-structure-city-with-copy-space.jpg" alt="Image 3" class="img-fluid">
        </div>
        <div data-aos="fade-up" class="col-lg-4 col-md-6 image-box">
            <img src="assets/images/low-angle-office-building-with-copy-space.jpg" alt="Image 1" class="img-fluid">
          </div>
          <div data-aos="fade-up" class="col-lg-4 col-md-6 image-box">
            <img src="assets/images/abstract-architecture-building.jpg" alt="Image 2" class="img-fluid" >
          </div>
          <div data-aos="fade-up" class="col-lg-4 col-md-6 image-box">
            <img src="assets/images/low-angle-shot-facade-white-modern-building-blue-clear-sky.jpg" alt="Image 3" class="img-fluid">
          </div>
      </div>

    
</div>

<div id="contact">
    <div class="container contact text-center">
      <h1 data-aos="slide-right" data-aos-duration="1000">Contacteaza-ne</h1>
          
        <div class="row text-center">
            
                    
            
           
          
           <div class="col-lg-4 col-md-6">
            <div class="contact-item" data-aos="slide-up" data-aos-duration="500">
                <h3><i class="fa-solid fa-location-dot"></i> Location</h3>
                <p>text</p>
            </div>
            
           </div>


           <div class="col-lg-4 col-md-6">
            <div class="contact-item" data-aos="slide-up" data-aos-duration="750">
                <h3><i class="fa-solid fa-phone"></i> Telefon</h3>
                <p>text</p>
            </div>
            
           </div>


           <div class="col-lg-4 col-md-6">
            <div class="contact-item" data-aos="slide-up" data-aos-duration="1000">
                <h3>Location</h3>
                <p>text</p>
            </div>
            
           </div>
           
        </div>
    </div>

</div>

