<div id="intro-section">
    <div class="row">
        <div class="col-lg-5" >
            <div id="intro-box">
                <h1 id="intro-text">Companie de arhitectura</h1>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                <button routerLink="/about-us" class="btn btn-lg my-button">Afla mai multe</button>
            </div>
                
        </div>
        <div class="col-lg-7">
            <img class="w-100" src="assets/images/crop-architect-opening-blueprint.jpg">
        </div>
    
    </div>
        
        
   
</div>
<div id="services-section">
    <div class="container">
        <h1>Ce facem noi?</h1>
        <p>Oferim atat servicii de constructii cat si de renovari pentru drumuri,case si poduri.</p>
        <div class="row">
           <div class="col-md-4 col-sm-6 card-space">
            <div class="card my-card">
                <div class="card-body">
                    <h1><i class="fa-regular fa-building"></i></h1>
                  <h3 class="card-title">Case</h3>
                  
                  <p class="card-text"></p>
                  <a href="#" class="btn my-button">Citeste mai mult</a>
                </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6 card-space">
            <div class="card my-card">
                <div class="card-body">
                    <h1><i class="fa-solid fa-road"></i></h1>
                  <h3 class="card-title">Drumuri</h3>
                  
                  <p class="card-text"></p>
                  <a href="#" class="btn my-button">Citeste mai mult</a>
                </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6 card-space">
            <div class="card my-card">
                <div class="card-body">
                    <h1><i class="fa-solid fa-bridge"></i></h1>
                  <h3 class="card-title">Poduri</h3>
                  
                  <p class="card-text"></p>
                  <a href="#" class="btn my-button">Citeste mai mult</a>
                </div>
              </div>
           </div>

        </div>
    </div>
</div>

<div class="container gallery">
    <h1>Amprenta noastra</h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 image-box">
          <img src="assets/images/plain-concrete-structure-city.jpg" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 image-box">
          <img src="assets/images/apartment-building-city-with-copy-space.jpg" alt="Image 2" class="img-fluid" >
        </div>
        <div class="col-lg-4 col-md-6 image-box">
          <img src="assets/images/concrete-structure-city-with-copy-space.jpg" alt="Image 3" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 image-box">
            <img src="assets/images/low-angle-office-building-with-copy-space.jpg" alt="Image 1" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-6 image-box">
            <img src="assets/images/abstract-architecture-building.jpg" alt="Image 2" class="img-fluid" >
          </div>
          <div class="col-lg-4 col-md-6 image-box">
            <img src="assets/images/low-angle-shot-facade-white-modern-building-blue-clear-sky.jpg" alt="Image 3" class="img-fluid">
          </div>
      </div>

    
</div>

<div id="contact">
    <div class="container contact">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-contact">
    
                    <!--Section heading-->
                    <h1 class="h1-responsive font-weight-bold text-center my-4">Contact</h1>
                    <!--Section description-->
                    
                
                   
                
                        
                
                        <!--Grid column-->
                        <div class="text-center">
                            <ul class="list-unstyled mb-0">
                                <li id="first"><i  class="fas fa-map-marker-alt fa-2x"></i>
                                    <p>Sfantu Gheorghe, Grigore Balan </p>
                                </li>
                
                                <li id="second"><i  class="fas fa-phone mt-4 fa-2x"></i>
                                    <p>+ 01 234 567 89</p>
                                </li>
                
                                <li id="third"><i class="fa-solid fa-envelope"></i>
                                    <p>contact@email.com</p>
                                </li>

                                <li id="third"><i class="fa-regular fa-calendar-days"></i>
                                    <p>Luni–Joi: 8–16:30<br>
                                        Vineri: 8–14</p>
                                </li>

                               
                            </ul>
                        </div>
                        
                
                    </div>
                    
            </div>
            <div class="col-lg-6">
               
            </div>
        </div>
    </div>

</div>