<div >
    <!-- section1--image -->
    <section>
        <div id="big-image" class="container-fluid" >
          <h1 id="intro-text">Build the future</h1>
        </div>
        
    </section>

    <!-- section2--welcome section -->
    <section>
        <div class="welcome-section">
            <h1>Welcome to our website</h1>
            <p> Requiratur nam parentibus sed ita indubitata. Sae probandum tantundem tot tantumdem per cum. </p>
        </div>

    </section>

    <!-- section 3--services -->

    <div class="my-services container">
        <div class="row">
            <div class="my-service col-md-6">
                <div class="row">
                    <div class="my-services-text-left col-8">
                        <h4>Dubitem</h4>
                        <p>Dubitem imo nia similia mei futurus ostendi sum gallico. At ii omnes mutuo verae pauci. Aberrem et quamvis in to exhibet. Exhibet incipit et sentiat ut. Facultate dimoveret est sit cognoscam has. Reddere ut colores sternat creando peccato vi ac. Impellit generali sui vos sequitur ejusmodi hoc imo.</p>
                    </div>
                    <div class=" col-4 rounded left-box" ></div>
                </div>
            </div>
            <div class="my-service col-md-6">
                
                <div class="row">
                    <div class=" col-4 rounded right-box" ></div>
                    <div class="my-services-text-right col-8">
                        <h4>Exhibet</h4>
                        <p>Dubitem imo nia similia mei futurus ostendi sum gallico. At ii omnes mutuo verae pauci. Aberrem et quamvis in to exhibet. Exhibet incipit et sentiat ut. Facultate dimoveret est sit cognoscam has. Reddere ut colores sternat creando peccato vi ac. Impellit generali sui vos sequitur ejusmodi hoc imo.</p>
                    </div>
                  
                </div>
            </div>
        </div>

        <div class="row">
            <div class="my-service col-md-6">
                <div class="row">
                    <div class="my-services-text-left col-8">
                        <h4> Aberrem</h4>
                        <p>Dubitem imo nia similia mei futurus ostendi sum gallico. At ii omnes mutuo verae pauci. Aberrem et quamvis in to exhibet. Exhibet incipit et sentiat ut. Facultate dimoveret est sit cognoscam has. Reddere ut colores sternat creando peccato vi ac. Impellit generali sui vos sequitur ejusmodi hoc imo.</p>
                    </div>
                    <div class=" col-4 rounded left-box" ></div>
                </div>
            </div>
            <div class="my-service col-md-6">
                
                <div class="row">
                    <div class=" col-4 rounded right-box" ></div>
                    <div class="my-services-text-right col-8">
                        <h4>Facultate</h4>
                        <p>Dubitem imo nia similia mei futurus ostendi sum gallico. At ii omnes mutuo verae pauci. Aberrem et quamvis in to exhibet. Exhibet incipit et sentiat ut. Facultate dimoveret est sit cognoscam has. Reddere ut colores sternat creando peccato vi ac. Impellit generali sui vos sequitur ejusmodi hoc imo.</p>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
<!-- Gallery Section -->

    <section>
        <div id="gallery-section">
            <div class="container">
                <h1>Gallery</h1>
                <hr>
                
            </div>
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  
                  <div class="carousel-item active" data-interval="1000">
                    <img src="assets/images/image2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="3000">
                    <img src="assets/images/background.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item " data-interval="3000">
                    <img src="assets/images/image5.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        
          
    </section>
</div>



